*__pycache__/
*.egg-info/
build/
**.so
*.hip
*_hip.*
*.txt
.pt
mamba-*
.nfs*
analysis/
assets/
benchmarks/
huggingface/
dataset/
pymp*
rocm*
finetune.py
finetune2.py
proj_weight_analysis.py
evaluate*
causal-conv1d
